@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: "General Sans", sans-serif;
}

html,
body {
  background-color: #141332;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #1D1D41;
  color: #ecf0f1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  padding: 1rem 0;
  overflow-y: auto;
}
.sidebar .brand-logo {
  gap: 15px;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.sidebar .navbar-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .navbar-item .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.sidebar .navbar-item .nav-item .nav-link:hover {
  background-color: #6359E9;
  border-radius: 10px;
}
.sidebar .navbar-item .nav-item .nav-link .arrow-icon {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}
.sidebar .navbar-item .nav-item .nav-link.active {
  background-color: #6359E9;
  border-radius: 10px;
  font-weight: 600;
}
.sidebar .navbar-item .nav-item .submenu {
  display: none;
  padding-left: 2rem;
  list-style: none;
}
.sidebar .navbar-item .nav-item .submenu .nav-link {
  padding: 14px 14px;
  font-size: 16px;
}
.sidebar .navbar-item .nav-item .submenu .nav-link:hover {
  background-color: #6359E9;
}
.sidebar .navbar-item .nav-item.open > .submenu {
  display: block;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
.sidebar .navbar-item .nav-item.open .arrow-icon {
  transform: rotate(90deg);
}

.strip-line {
  margin: 13px;
  border: 1px solid #4B4B99;
}

.account,
.logout {
  position: relative;
  left: 0;
}

.account {
  margin-top: 7.7rem;
  display: flex;
  align-items: center;
  padding: 10px;
}
.account .user-account {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.account .user-account .img-avatar.close {
  display: block;
  justify-content: center;
  align-items: center;
}
.account .user-account .name-account h1 {
  font-size: 16px;
}
.account .user-account .name-account p {
  font-size: 12px;
}
.account .user-account .name-account.close {
  display: none;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #6359E9;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logout:active {
  transform: translateY(1px);
}

/*MAIN CONTENT*/
.main-content {
  overflow: hidden;
  margin-left: 300px;
  padding: 20px;
  width: 100%;
}
.main-content .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.main-content .page-title h1 {
  font-size: 23px;
  font-weight: 600;
}
.main-content .page-title p {
  font-size: 16px;
  font-weight: 400;
  color: #A6A6A6;
}
.main-content .search-button {
  position: relative;
}
.main-content .search-button .form-input {
  padding: 20px;
  padding: 20px 120px 20px 20px;
  width: 100%;
  background-color: #1D1D41;
  border: none;
  border-radius: 10px;
  outline: none;
}
.main-content .search-button .form-input::placeholder {
  color: #aeabd9;
  font-size: 12px;
}
.main-content .search-button .fa-solid.fa-magnifying-glass {
  position: absolute;
  right: 10%;
  top: 35%;
  font-size: 16px;
}
.main-content .content-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
.main-content .content-grid .card {
  border-radius: 20px;
  padding: 25px;
  background-color: #1D1D41;
}
.main-content .content-grid .card .card-content {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-content .content-grid .card .card-content .card-logo {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.main-content .content-grid .card .card-content .card-logo.bg-success {
  background-color: #64cff6;
}
.main-content .content-grid .card .card-content .card-logo.bg-primary {
  background-color: #6359E9;
}
.main-content .content-grid .card .card-body h5 {
  font-size: 16px;
  font-weight: 400;
  color: #8c89B4;
}
.main-content .content-grid .card .card-body p {
  font-size: 23px;
  font-weight: 600;
}
.main-content .content-grid .card:nth-child(1) {
  grid-column: 1/2;
}
.main-content .content-grid .card:nth-child(2) {
  grid-column: 2/2;
}
.main-content .content-grid .card:nth-child(3) {
  grid-column: 1/3;
  height: 67vh;
}
.main-content .content-grid .card .head h1 {
  margin-bottom: 15px;
}

#account-management {
  padding: 20px;
}
#account-management .page-title h1 {
  font-size: 24px;
  font-weight: 600;
}
#account-management .page-title p {
  font-size: 16px;
  color: #A6A6A6;
}
#account-management .account-form {
  background-color: #1D1D41;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
#account-management .account-form .form-group {
  margin-bottom: 20px;
}
#account-management .account-form .form-group label {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 5px;
}
#account-management .account-form .form-group input, #account-management .account-form .form-group select {
  width: 100%;
  padding: 12px;
  background-color: #141332;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
}
#account-management .account-form .form-group input:focus, #account-management .account-form .form-group select:focus {
  outline: none;
  border-color: #6359E9;
}
#account-management .account-form .form-group .btn-submit {
  background-color: #6359E9;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#account-management .account-form .form-group .btn-submit:hover {
  background-color: #6359E9;
}

.account-list {
  padding: 20px;
  background-color: #1D1D41;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.account-list .header {
  text-align: center;
  margin-bottom: 20px;
}
.account-list .header h1 {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.account-list .card-content {
  background-color: #141332;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.account-list .card-content .table-container table {
  width: 100%;
  border-collapse: collapse;
}
.account-list .card-content .table-container table th, .account-list .card-content .table-container table td {
  padding: 10px;
  border: 1px solid #444;
  font-size: 14px;
  color: #FFFFFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.account-list .card-content .table-container table th {
  background-color: #4B4B99;
  font-size: 16px;
  text-transform: uppercase;
}
.account-list .card-content .table-container table td {
  background-color: #141332;
  font-size: 14px;
  color: #FFFFFF;
}
.account-list .card-content .table-container table tr:hover {
  background-color: #6359E9;
  color: #FFFFFF;
}
.account-list .card-content .table-container table .edit-btn,
.account-list .card-content .table-container table .delete-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.account-list .card-content .table-container table .edit-btn.edit-btn,
.account-list .card-content .table-container table .delete-btn.edit-btn {
  background-color: #4caf50;
  color: white;
}
.account-list .card-content .table-container table .edit-btn.delete-btn,
.account-list .card-content .table-container table .delete-btn.delete-btn {
  background-color: #e53935;
  color: white;
}
.account-list .card-content .table-container table .edit-btn:hover,
.account-list .card-content .table-container table .delete-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
.account-list .card-content .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
.account-list .card-content .pagination button {
  background-color: #6359E9;
  color: #FFFFFF;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.account-list .card-content .pagination button:hover {
  background-color: #6359E9;
  transform: scale(1.05);
}
.account-list .card-content .pagination button:disabled {
  background-color: #888;
  cursor: not-allowed;
  opacity: 0.6;
}

.report-section {
  overflow: hidden;
  padding: 10px;
}
.report-section .filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.report-section .filters label {
  font-size: 14px;
  color: #FFFFFF;
}
.report-section .filters select, .report-section .filters input {
  padding: 8px 12px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #141332;
  color: #FFFFFF;
}
.report-section .filters button {
  padding: 10px 20px;
  background-color: #6359E9;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}
.report-section .filters button:hover {
  background-color: #6359E9;
}
.report-section .summary-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.report-section .summary-cards .card {
  background-color: #1D1D41;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}
.report-section .summary-cards .card h3 {
  color: #FFFFFF;
  margin-bottom: 10px;
}
.report-section .summary-cards .card p {
  font-size: 18px;
  color: #6359E9;
}
.report-section .chart-section {
  background-color: #1D1D41;
  border-radius: 10px;
  padding: 20px;
}
.report-section .chart-section canvas {
  width: 100%;
  height: 400px;
}

/* Update Account Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup.show {
  display: flex;
}
.popup .popup-content {
  background-color: #1D1D41;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
}
.popup .popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.popup .popup-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.popup .popup-content .form-group {
  margin-bottom: 20px;
}
.popup .popup-content .form-group label {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.popup .popup-content .form-group input, .popup .popup-content .form-group select {
  width: 100%;
  padding: 12px;
  background-color: #141332;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
}
.popup .popup-content .form-group input:focus, .popup .popup-content .form-group select:focus {
  outline: none;
  border-color: #6359E9;
}

#create-branch {
  padding: 20px;
  background-color: #1D1D41;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#create-branch .page-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
#create-branch .page-title h1 {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
#create-branch .page-title p {
  font-size: 16px;
  color: #A6A6A6;
}
#create-branch .branch-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#create-branch .branch-summary .info-card {
  background-color: #141332;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 10px;
}
#create-branch .branch-summary .info-card:last-child {
  margin-right: 0;
}
#create-branch .branch-summary .info-card h2 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#create-branch .branch-summary .info-card p {
  font-size: 16px;
  color: #FFFFFF;
}
#create-branch .branch-form {
  background-color: #141332;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#create-branch .branch-form .form-group {
  margin-bottom: 15px;
}
#create-branch .branch-form .form-group label {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 5px;
}
#create-branch .branch-form .form-group input {
  width: 100%;
  padding: 10px;
  background-color: #141332;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
}
#create-branch .branch-form .form-group input:focus {
  outline: none;
  border-color: #6359E9;
}
#create-branch .branch-form .form-group .btn-submit {
  background-color: #6359E9;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#create-branch .branch-form .form-group .btn-submit:hover {
  background-color: rgb(56.6808510638, 43.9680851064, 227.0319148936);
}
#create-branch .manage-branches {
  background-color: #141332;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#create-branch .manage-branches h2 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
#create-branch .manage-branches #branches-table-body tr {
  background-color: #141332;
  color: #FFFFFF;
  border-bottom: 1px solid #1D1D41;
}
#create-branch .manage-branches #branches-table-body tr td {
  padding: 10px;
  text-align: center;
}
#create-branch .manage-branches #branches-table-body tr td:first-child {
  font-weight: bold;
}
#create-branch .manage-branches #branches-table-body tr td:last-child {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#create-branch .manage-branches #branches-table-body tr .edit-btn, #create-branch .manage-branches #branches-table-body tr .delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#create-branch .manage-branches #branches-table-body tr .edit-btn.edit-btn, #create-branch .manage-branches #branches-table-body tr .delete-btn.edit-btn {
  background-color: rgb(21, 192, 21);
  color: #FFFFFF;
}
#create-branch .manage-branches #branches-table-body tr .edit-btn.edit-btn:hover, #create-branch .manage-branches #branches-table-body tr .delete-btn.edit-btn:hover {
  background-color: rgb(27, 155, 27);
}
#create-branch .manage-branches #branches-table-body tr .edit-btn.delete-btn, #create-branch .manage-branches #branches-table-body tr .delete-btn.delete-btn {
  background-color: rgb(239, 37, 37);
  color: #FFFFFF;
}
#create-branch .manage-branches #branches-table-body tr .edit-btn.delete-btn:hover, #create-branch .manage-branches #branches-table-body tr .delete-btn.delete-btn:hover {
  background-color: rgb(129, 20, 20);
}
#create-branch .manage-branches .branches-list-table {
  width: 100%;
  border-collapse: collapse;
}
#create-branch .manage-branches .branches-list-table th {
  background-color: #6359E9;
  color: #FFFFFF;
  text-align: left;
  padding: 10px;
}
#create-branch .manage-branches .branches-list-table td {
  border: 1px solid #1D1D41;
  padding: 10px;
}
#create-branch .modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#create-branch .modal .modal-content {
  background-color: #1D1D41;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#create-branch .modal .modal-content h2 {
  margin-top: 0;
  color: #FFFFFF;
}
#create-branch .modal .modal-content .close-btn {
  float: right;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
#create-branch .modal .modal-content .close-btn:hover {
  color: #ff5c5c;
}
#create-branch .modal .modal-content .form-group {
  margin-bottom: 15px;
}
#create-branch .modal .modal-content .form-group label {
  display: block;
  color: #FFFFFF;
  margin-bottom: 5px;
}
#create-branch .modal .modal-content .form-group input {
  width: 100%;
  padding: 10px;
  background-color: #141332;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
}
#create-branch .modal .modal-content .form-group input:focus {
  outline: none;
  border-color: #6359E9;
}
#create-branch .modal .modal-content .form-group .btn-submit {
  background-color: #6359E9;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#create-branch .modal .modal-content .form-group .btn-submit:hover {
  background-color: rgb(56.6808510638, 43.9680851064, 227.0319148936);
}

#inventory-overview {
  padding: 20px;
  background-color: #1D1D41;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#inventory-overview .page-title {
  margin-bottom: 15px;
}
#inventory-overview .page-title h1 {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
#inventory-overview .page-title p {
  font-size: 16px;
  color: #A6A6A6;
}
#inventory-overview .inventory-table {
  margin-top: 20px;
}
#inventory-overview .inventory-table table {
  width: 100%;
  border-collapse: collapse;
}
#inventory-overview .inventory-table table th, #inventory-overview .inventory-table table td {
  padding: 10px;
  border: 1px solid #4B4B99;
  text-align: left;
  font-size: 14px;
}
#inventory-overview .inventory-table table th {
  background-color: #4B4B99;
  color: #FFFFFF;
  font-weight: bold;
}
#inventory-overview .inventory-table table td {
  background-color: #141332;
  color: #FFFFFF;
}
#inventory-overview .inventory-table table .action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#inventory-overview .inventory-table table .action-btn.review {
  background-color: #4caf50;
  color: white;
}
#inventory-overview .inventory-table table .action-btn:hover {
  background-color: rgb(141.3191489362, 134.0319148936, 238.9680851064);
}
#inventory-overview .inventory-table tr:hover {
  background-color: #6359E9;
}
#inventory-overview .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
#inventory-overview .modal.show {
  display: flex;
}
#inventory-overview .modal .modal-content {
  background-color: #1D1D41;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#inventory-overview .modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#inventory-overview .modal .modal-content .modal-header h2 {
  font-size: 18px;
  color: #FFFFFF;
}
#inventory-overview .modal .modal-content .modal-header .close-btn {
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
#inventory-overview .modal .modal-content .modal-body .form-group {
  margin-bottom: 15px;
}
#inventory-overview .modal .modal-content .modal-body .form-group label {
  display: block;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 5px;
}
#inventory-overview .modal .modal-content .modal-body .form-group input {
  width: 100%;
  padding: 10px;
  background-color: #141332;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
}
#inventory-overview .modal .modal-content .modal-body .form-group input:focus {
  outline: none;
  border-color: #6359E9;
}
#inventory-overview .modal .modal-content .modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
#inventory-overview .modal .modal-content .modal-footer .btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#inventory-overview .modal .modal-content .modal-footer .btn.approve {
  background-color: #6359E9;
  color: #FFFFFF;
}
#inventory-overview .modal .modal-content .modal-footer .btn.cancel {
  background-color: #ff5c5c;
  color: #FFFFFF;
}
#inventory-overview .modal .modal-content .modal-footer .btn:hover {
  opacity: 0.9;
}

#sales-record-overview {
  border-radius: 10px;
  background-color: #1D1D41;
  padding: 20px;
}
#sales-record-overview .page-title {
  margin-bottom: 15px;
}
#sales-record-overview .page-title h1 {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
#sales-record-overview .page-title p {
  font-size: 16px;
  color: #A6A6A6;
}
#sales-record-overview .sales-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
#sales-record-overview .sales-filters label {
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 5px;
}
#sales-record-overview .sales-filters select,
#sales-record-overview .sales-filters input[type=date] {
  padding: 8px 15px;
  border: 1px solid #FFFFFF;
  background-color: #141332;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
#sales-record-overview .sales-filters select {
  position: relative;
  padding-right: 30px;
}
#sales-record-overview .sales-filters select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  pointer-events: none;
  font-size: 14px;
}
#sales-record-overview .sales-filters select:hover {
  background-color: rgb(12.6086956522, 11.9782608696, 31.5217391304);
}
#sales-record-overview .sales-filters select:focus {
  outline: none;
  border-color: #6359E9;
}
#sales-record-overview .sales-filters button {
  padding: 10px 15px;
  background-color: #6359E9;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#sales-record-overview .sales-filters button:hover {
  background-color: rgb(141.3191489362, 134.0319148936, 238.9680851064);
}
#sales-record-overview .sales-record-content .sales-table {
  background-color: #141332;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#sales-record-overview .sales-record-content .sales-table .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#sales-record-overview .sales-record-content .sales-table .table-header h2 {
  font-size: 18px;
  color: #FFFFFF;
}
#sales-record-overview .sales-record-content .sales-table .table-header select {
  padding: 8px 15px;
  border: 1px solid #FFFFFF;
  background-color: #141332;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
#sales-record-overview .sales-record-content .sales-table .table-header select:focus {
  outline: none;
  border-color: #6359E9;
}
#sales-record-overview .sales-record-content .sales-table table {
  width: 100%;
  border-collapse: collapse;
}
#sales-record-overview .sales-record-content .sales-table table th, #sales-record-overview .sales-record-content .sales-table table td {
  padding: 10px;
  border: 1px solid #4B4B99;
  text-align: left;
  font-size: 14px;
}
#sales-record-overview .sales-record-content .sales-table table th {
  background-color: #4B4B99;
  color: #FFFFFF;
}
#sales-record-overview .sales-record-content .sales-table table td {
  background-color: #141332;
  color: #FFFFFF;
}
#sales-record-overview .sales-record-content .sales-table table tr:hover {
  background-color: #6359E9;
}
#sales-record-overview .sales-record-content .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
#sales-record-overview .sales-record-content .pagination button {
  background-color: #6359E9;
  color: #FFFFFF;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
#sales-record-overview .sales-record-content .pagination button:hover {
  background-color: #6359E9;
  transform: scale(1.05);
}
#sales-record-overview .sales-record-content .pagination button:disabled {
  background-color: #888;
  opacity: 0.1;
  pointer-events: none;
  cursor: not-allowed;
}

.sales-chart {
  background-color: #1D1D41;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.sales-chart h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #FFFFFF;
}
.sales-chart canvas {
  width: 100%;
  height: 350px;
}

#manage-distribution {
  border-radius: 10px;
  background-color: #1D1D41;
  padding: 20px;
}
#manage-distribution .page-title {
  margin-bottom: 15px;
}
#manage-distribution .page-title h1 {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
#manage-distribution .page-title p {
  font-size: 16px;
  color: #A6A6A6;
}
#manage-distribution .distribution-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
#manage-distribution .distribution-filters label {
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 5px;
}
#manage-distribution .distribution-filters input[type=date], #manage-distribution .distribution-filters select {
  padding: 8px 15px;
  border: 1px solid #FFFFFF;
  background-color: #141332;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
#manage-distribution .distribution-table {
  background-color: #141332;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
#manage-distribution .distribution-table .table-header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;
}
#manage-distribution .distribution-table .table-header label {
  font-size: 14px;
  color: #FFFFFF;
}
#manage-distribution .distribution-table .table-header select {
  padding: 8px 15px;
  border: 1px solid #FFFFFF;
  background-color: #141332;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
}
#manage-distribution .distribution-table table {
  width: 100%;
  border-collapse: collapse;
}
#manage-distribution .distribution-table table th, #manage-distribution .distribution-table table td {
  padding: 10px;
  border: 1px solid #4B4B99;
  text-align: left;
  font-size: 14px;
}
#manage-distribution .distribution-table table th {
  background-color: #4B4B99;
  color: #FFFFFF;
}
#manage-distribution .distribution-table table td {
  background-color: #141332;
  color: #FFFFFF;
}
#manage-distribution .distribution-table table tr:hover {
  background-color: #6359E9;
}

/*# sourceMappingURL=style.css.map */
