    $bg-color: #141332;
    $bg-color-secondary: #1D1D41;
    $primary-color: #6359E9;
    $secondary-color: #1e2a38;
    $white-color: #FFFFFF;
    $strip-color: #4B4B99;
    $highlight-color: #ff5c5c;
    $fonts: 'General Sans', sans-serif;
    $transition: 0.3s ease-in-out;
    $sidebar-width: 300px;
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: $white-color;
        font-family: $fonts;
    }

    html,
    body {
        background-color: $bg-color;
    }

    // Layout Wrapper
    .wrapper {

    display: flex;
    min-height: 100vh;
    }

    // Sidebar Styling
    .sidebar {
    width: $sidebar-width;
    height: 100vh;
    background-color:$bg-color-secondary; // Your existing sidebar color
    color: #ecf0f1; // Your existing text color
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width $transition;
    padding: 1rem 0;
    overflow-y: auto;

    // Brand Logo
    .brand-logo {
        gap: 15px;
        display: flex;
        align-items: center;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    // Navigation Items
    .navbar-item {
        list-style: none;
        padding: 0;
        margin: 0;

        .nav-item {
        .nav-link {
            
            display: flex;
            align-items: center;
            color: inherit;
            padding: 1rem 1.5rem;
            text-decoration: none;
            transition: background-color $transition;

            &:hover {
            background-color: $primary-color;
            border-radius: 10px;
            }

            .arrow-icon {
            margin-left: auto;
            transition: transform $transition;
            }
            &.active {
                background-color: $primary-color;
                border-radius: 10px;
                font-weight: 600;
            }
        }

        // Submenu for nested items
        .submenu {
            display: none;
            padding-left: 2rem;
            list-style: none;
            .nav-link {
            padding: 14px 14px;
            font-size: 16px   ;

            &:hover {
                background-color: $primary-color
            }
            }
        }

        &.open > .submenu {
            display: block;
            font-size: 14px;
            font-weight: 400;
            list-style: none;
        }

        &.open .arrow-icon {
            transform: rotate(90deg);
        }
        }
    }
    }

    // Separator Line
    .strip-line{
        margin: 13px;
        border: 1px solid $strip-color;
    }

    // Account and Logout Section
    .account,
    .logout {
        position: relative;
        left: 0;
    }

    .account { 
        margin-top: 7.7rem;// Space above the logout button
        display: flex;
        align-items: center;
        padding: 10px;
        .user-account {
            cursor: pointer;
            display: flex;
            gap: 10px;

            .img-avatar {
                &.close {
                    display: block;
                    justify-content: center;
                    align-items: center;
                }
            }

            .name-account {
                h1 {
                    font-size: 16px;
                }

                p {
                    font-size: 12px;
                }

                &.close {
                    display: none;
                }
            }
        }
    }

    .logout {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        border-radius: 8px;
        background-color: $primary-color;
        color: white;
        font-size: 1em;
        cursor: pointer;
        transition: all 0.3s ease;
        &:active {
            transform: translateY(1px);
        }
    }
    /*MAIN CONTENT*/
    .main-content {
        overflow: hidden;
        margin-left: $sidebar-width;
        padding: 20px;
        width: 100%;

        .page-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
        }

        .page-title {
            h1 {
                font-size: 23px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #A6A6A6;
            }
        }

        .search-button {
            position: relative;

            .form-input {
                padding: 20px;
                padding: 20px 120px 20px 20px;
                width: 100%;
                background-color: $bg-color-secondary;
                border: none;
                border-radius: 10px;
                outline: none;

                &::placeholder {
                    color: #aeabd9;
                    font-size: 12px;
                }
            }

            .fa-solid.fa-magnifying-glass {
                position: absolute;
                right: 10%;
                top: 35%;
                font-size: 16px;
            }
        }

        .content-grid {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 20px;

            .card {
                border-radius: 20px;
                padding: 25px;
                background-color: $bg-color-secondary;

                .card-content {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .card-logo {
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;

                        &.bg-success {
                            background-color: #64cff6;
                        }

                        &.bg-primary {
                            background-color: #6359E9;
                        }
                    }
                }

                .card-body {
                    h5 {
                        font-size: 16px;
                        font-weight: 400;
                        color: #8c89B4;
                    }

                    p {
                        font-size: 23px;
                        font-weight: 600;
                    }
                }

                &:nth-child(1) {
                    grid-column: 1 / 2;
                }

                &:nth-child(2) {
                    grid-column: 2 / 2;
                }

                &:nth-child(3) {
                    grid-column: 1 / 3;
                    height: 62vh;
                }

                .head {
                    h1 {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    #overall-sales-report {
        padding: 20px;
        width: 100%;
        .page-title {
            h1 {
                font-size: 24px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                color: #A6A6A6;
            }
        }

        .report-filters {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            padding: 10px 0;

            .filter {
                label {
                    font-size: 14px;
                    color: #fff;
                }

                select, input {
                    background-color: $bg-color-secondary;
                    border: $white-color;
                    color: #fff;
                    padding: 8px;
                    border: 1px solid #444;
                    border-radius: 5px;
                }

                input[type="date"] {
                    width: 150px;
                }

                select {
                    width: 180px;
                }
            }
        }

        .sales-overview {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .card {
                background-color: $bg-color-secondary;
                padding: 20px;
                border-radius: 10px;
                text-align: center;
                width: 30%;
                color: #fff;

                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .sales-charts {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .chart {
                width: 48%;
                canvas {
                    width: 100%;
                    height: 350px;
                }
            }
        }

        .sales-table {
            margin-top: 30px;

            h3 {
                font-size: 20px;
                margin-bottom: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                text-align: left;
                border-radius: 8px;

                th, td {
                    padding: 12px;
                    border: 1px solid #444;
                }

                th {
                    background-color: #333;
                    font-size: 14px;
                }

                td {
                    font-size: 14px;
                    color: #ddd;
                }

                tr:nth-child(even) {
                    background-color: #2a2a61;
                }

                tr:hover {
                    background-color: #ff5722;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

    #account-management {
        padding: 20px;

        .page-title {
            h1 {
                font-size: 24px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                color: #A6A6A6;
            }
        }

        .account-form {
            background-color: $bg-color-secondary;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;

            .form-group {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-size: 14px;
                    color: $white-color;
                    margin-bottom: 5px;
                }

                input, select {
                    width: 100%;
                    padding: 12px;
                    background-color: $bg-color;
                    border: 1px solid $white-color;
                    border-radius: 5px;
                    color: $white-color;
                    font-size: 14px;

                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                    }
                }

                .btn-submit {
                    background-color: $primary-color;
                    color: $white-color;
                    padding: 12px 20px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color $transition;

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    .account-list {
        padding: 20px;
        background-color: $bg-color-secondary;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
    
        .header {
            text-align: center;
            margin-bottom: 20px;
    
            h1 {
                font-size: 24px;
                color: $white-color;
                margin-bottom: 10px;
            }
        }
    
        .card-content {
            background-color: $bg-color;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
            .table-container {
                table {
                    width: 100%;
                    border-collapse: collapse;
    
                    th, td {
                        padding: 10px;
                        border: 1px solid #444;
                        font-size: 14px;
                        color: $white-color;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
    
                    th {
                        background-color: $strip-color;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
    
                    td {
                        background-color: $bg-color;
                        font-size: 14px;
                        color: $white-color;
                    }
    
                    tr:hover {
                        background-color: $primary-color;
                        color: $white-color;
                    }
    
                    .edit-btn,
                    .delete-btn {
                        padding: 8px 16px;
                        border: none;
                        border-radius: 5px;
                        font-size: 14px;
                        cursor: pointer;
                        transition: background-color 0.3s, transform 0.2s;
    
                        &.edit-btn {
                            background-color: #4caf50;
                            color: white;
                        }
    
                        &.delete-btn {
                            background-color: #e53935;
                            color: white;
                        }
    
                        &:hover {
                            opacity: 0.9;
                            transform: scale(1.05);
                        }
                    }
                }
            }
    
            .pagination {
                align-items: center;
                display: flex;
                justify-content: center;
                gap: 15px;
                margin-top: 15px;
    
                button {
                    background-color: $primary-color;
                    color: $white-color;
                    padding: 8px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s, transform 0.2s;
    
                    &:hover {
                        background-color: $primary-color;
                        transform: scale(1.05);
                    }
    
                    &:disabled {
                        background-color: #888;
                        cursor: not-allowed;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    
    
    /* Update Account Popup */
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;

        &.show {
            display: flex;
        }

        .popup-content {
            background-color: $bg-color-secondary;
            padding: 20px;
            border-radius: 10px;
            width: 400px;
            max-width: 100%;

            .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                color: #fff;
                cursor: pointer;
            }

            h2 {
                font-size: 20px;
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-size: 14px;
                    color: $white-color;
                    margin-bottom: 5px;
                }

                input, select {
                    width: 100%;
                    padding: 12px;
                    background-color: $bg-color;
                    border: 1px solid $white-color;
                    border-radius: 5px;
                    color: $white-color;
                    font-size: 14px;

                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                    }
                }
            }   
        }
    }
    #create-branch {
        padding: 20px;
        background-color: $bg-color-secondary;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        
        .page-title {
            margin-top: 10px;
            margin-bottom: 10px;
            
            h1 {
                font-size: 24px;
                font-weight: 600;
                color: $white-color;
            }
    
            p {
                font-size: 16px;
                color: #A6A6A6;
            }
        }
    
        .branch-form {
            background-color: $bg-color;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
    
            .form-group {
                margin-bottom: 15px;
                justify-content: space-between;
                label {
                    display: block;
                    font-size: 14px;
                    color: $white-color;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
    
                input {
                    width: 100%;
                    padding: 10px;
                    background-color: $bg-color;
                    border: 1px solid $white-color;
                    border-radius: 5px;
                    color: $white-color;
                    font-size: 14px;
    
                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                    }
                }
    
                .btn-submit {
                    display: inline-block;
                    background-color: $primary-color;
                    color: $white-color;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;
    
                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
    